
@{
    ViewBag.Title = "News";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    a {
        color: navy;
    }
</style>

<h2>News</h2>
<hr />
<div class="container">
    <!-- MEDIA OBJECT -->
    <div class="media">
        <img class="mr-3 mt-3" src="~/Images/1.jpg">
        <div class="media-body">
            <h4>Lets talk</h4>
            <p>
                World Health organization started a new campagin to raise awareness about depression
                <a href="http://www.who.int/campaigns/world-health-day/2017/en/">Read More</a>

            </p>
        </div>
    </div>
    <hr />
    <!-- MEDIA OBJECT -->
    <div class="media">
        <img class="mr-3 mt-3" src="~/Images/2-100x100.jpg">
        <div class="media-body">
            <h4>Living with a black dog</h4>
            <p>
                Millions of people around the world live with depression. “Living with a black dog” is a guide for partners, carers and sufferers of depression. It advises those living with and caring for people with depression on what to do, what not to do, and where to go for help
                <a href="https://www.youtube.com/watch?v=2VRRx7Mtep8" class="btn-info">Watch Now</a>

            </p>
        </div>
    </div>
    <hr />
    <div class="media">
        <img class="mr-3 mt-3" src="~/Images/3-100x100.jpg">
        <div class="media-body">
            <h4>My name is Wil Wheaton</h4>
            <p>
                Before I begin, I want to warn you that this talk touches on many triggering subjects, including self-harm and suicide.
                <a href="https://medium.com/wilw/my-name-is-wil-wheaton-i-live-with-chronic-depression-and-generalized-anxiety-i-am-not-ashamed-8f693f9c0af1">Read More</a>

            </p>
        </div>
    </div>
    <hr />
    <div class="media">
        <img class="mr-3 mt-3" src="~/Images/4-100x100.jpg">
        <div class="media-body">
            <h4>You Might Not Actually Be Struggling With Depression</h4>
            <p>
                Sipping my Americano, I nod in response to my friend and then open and close my palm in a gesture to say “Tell me more.”
                <a href="https://blog.heartsupport.com/you-might-not-actually-be-struggling-with-depression-8ce57ab41f66">Read More</a>

            </p>
        </div>
    </div>
    <hr />
    <div class="media">
        <img class="mr-3 mt-3" src="~/Images/5-100x100.jpg">
        <div class="media-body">
            <h4>Mastering Depression and Living the Life You Were Meant to Live</h4>
            <p>
                Never compare yourself and your progress to anyone but yourself.
                <a href="https://medium.com/the-mission/mastering-depression-and-living-the-life-you-were-meant-to-live-a9b4e357ddd9">Read More</a>

            </p>
        </div>
    </div>
    <hr />

</div>


