@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>Hoss Sharifkazemi</h3>

<p>I am a Software Developer who is trying to make some good in this world by creating this web application
    to help depressed people and gain some marks alongside.<br /> Thank you for your attention :)
    </p>
